// base16 ayu-dark
$base00: #0b0e14;
$base01: #131721;
$base02: #202229;
$base03: #3e4b59;
$base04: #bfbdb6;
$base05: #e6e1cf;
$base06: #ece8db;
$base07: #f2f0e7;
$base08: #f07178;
$base09: #ff8f40;
$base0A: #ffb454;
$base0B: #aad94c;
$base0C: #95e6cb;
$base0D: #59c2ff;
$base0E: #d2a6ff;
$base0F: #e6b450;

$bg-color: $base00;
$fg-color: $base05;

* {
  font-family: "monospace";
  font-size: 14px;
}

#bar {
  background: linear-gradient(to bottom, rgba($bg-color, 20%), transparent);
  color: $fg-color;
  font-weight: bold;
  text-shadow: 0 0 4px $bg-color;

  .right {
    margin-right: 8px;
  }
}

#tray button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

#workspaces button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;

  min-width: 27px;

  &.active {
    background: rgba($base0C, 50%);
    box-shadow: inset 0 -3px $base0C;
  }

  &:hover {
    box-shadow: inset 0 -3px $base0C;
  }
}

popover {
  min-width: 240px;
}

popover contents,
popover arrow {
  font-weight: bold;
  color: $fg-color;
  background: $bg-color;
  border-color: $base01;

  modelbutton:selected {
    background-color: $base02;
  }

  separator {
    background-color: $base03;
  }
}
