// base16 ayu-dark
$base00: #0b0e14;
$base01: #131721;
$base02: #202229;
$base03: #3e4b59;
$base04: #bfbdb6;
$base05: #e6e1cf;
$base06: #ece8db;
$base07: #f2f0e7;
$base08: #f07178;
$base09: #ff8f40;
$base0A: #ffb454;
$base0B: #aad94c;
$base0C: #95e6cb;
$base0D: #59c2ff;
$base0E: #d2a6ff;
$base0F: #e6b450;

$bg-color: $base00;
$fg-color: $base05;

* {
  font-family: "monospace";
  font-size: 14px;
}

#bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  text-shadow: 0 0 4px $bg-color;
  -gtk-icon-shadow: 0 0 4px $bg-color;

  .left {
    margin-left: 8px;
  }

  .right {
    margin-right: 8px;
  }
}

#bar button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

#bar .bar-item {
  padding: 0 7px;
  margin: 0 -7px;
  border-radius: 15px;
  box-shadow: none;

  button,
  image {
    color: inherit;
    opacity: inherit;
    -gtk-icon-filter: inherit;
  }

  &:hover {
    background: rgba($base0C, 50%);
  }
}

#workspaces .workspace {
  padding: 0 7px;
  margin: 0 -7px;
  border-radius: 15px;

  &.active {
    background: rgba($base04, 50%);
  }

  &:hover {
    background: rgba($base0C, 50%);
  }
}

popover {
  min-width: 240px;
}

popover contents,
popover arrow {
  font-weight: bold;
  color: $fg-color;
  background: $base01;
  border-color: $base02;

  modelbutton:selected {
    background-color: $base03;
  }

  separator {
    background-color: $base02;
  }
}

#wallpaper {
  background: transparent;

  .vignette {
    background: transparent;
    box-shadow: inset 0 0 300px $bg-color;
  }
}
