@use "sass:color";
@use "vars";

$bg: vars.$base01;
$fg: vars.$base05;
$fg-dimmed: vars.$base03;

#bar {
  color: $fg;
  background-color: $bg;
  font-weight: bold;
  min-height: 30px;
}

#bar .bar-item {
  padding-left: 8px;
  padding-right: 8px;

  &:hover {
    background: color.scale($fg, $alpha: -90%);
  }
}

#bar #battery {
  font-size: 13px;
}

#bar #workspaces {
  .workspace {
    @extend .bar-item;
    padding-left: 10px;
    padding-right: 10px;
  }

  .workspace > label {
    min-width: 8px;
    min-height: 8px;
  }

  .active > label {
    font-size: 0;
    background-color: $fg;
  }

  .empty > label {
    color: $fg-dimmed;
  }
}
