@use "vars";
@use "sass:color";

window {
  all: unset;
  background-color: vars.$base00;
  color: vars.$base05;
  font-family: "JetBrains Mono";
  font-size: 14px;
}

.popup {
  border-color: vars.$base01;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  padding: 16px;
}

button.no-bg {
  &:not(:active):not(:hover) {
    background-color: transparent;
  }
}

.player {
  .art {
    border-radius: 8px;
    opacity: 30%;
  }

  .content {
    padding: 16px;
  }

  .buttons {
    button {
      padding: 6px;
    }
    margin: -6px;
  }
}
