@use "vars";

window {
  all: unset;
  background-color: vars.$base00;
  color: vars.$base05;
  font-family: "JetBrains Mono";
  font-size: 14px;
}

.popup {
  border-color: vars.$base01;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  padding: 8px;
}
