@use "vars";
@use "sass:color";

window {
  all: unset;
  background-color: vars.$base00;
  color: vars.$base05;
  font-family: "JetBrains Mono";
  font-size: 14px;
}

.popup {
  border-color: vars.$base01;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  padding: 16px;
}

#audio-menu {
  button {
    /* padding: 0; */

    &:not(:active):not(:hover) {
      background-color: transparent;
    }
  }

  .slider-box {
    border-radius: 8px;

    box {
      padding-left: 10px;
      border-radius: 8px;
    }

    scale {
      padding: 0;

      trough {
        all: unset;
        background: vars.$base02;
        min-height: 36px;
        border-radius: 8px;
      }

      highlight {
        all: unset;
        min-height: 36px;
        border-radius: 8px;
        background: color.scale(vars.$base0D, $alpha: -30%);
      }

      slider {
        all: unset;
        border-radius: 8px;
        margin: 0;
      }
    }
  }
}