@use "base";
@use "vars";
@use "sass:color";

#notifications-popup {
  background-color: transparent;
  padding: 8px;

  .notification {
    box-shadow: 0 0 4px vars.$base00;
  }
}

.notification {
  padding: 8px;
  border-radius: 8px;
  background-color: vars.$base01;

  .header {
    color: vars.$base03;
  }

  .close {
    padding: 2px;
    margin: -4px;
    border-radius: 100%;
  }
}
