window#bar {
  font-size: 14px;
  font-weight: bold;
  color: #e6e1cf;
  background-color: #131721;
  min-height: 30px;
}

#bar .item {
  padding-left: 8px;
  padding-right: 8px;
}

#bar .item:hover {
  background-color: #e6e1cf30;
}

#bar .workspace {
  padding-left: 10px;
  padding-right: 10px;
}

#bar .workspace label {
  min-width: 8px;
  min-height: 8px;
}

#bar .workspace.active > label {
  font-size: 0;
  background-color: #e6e1cf;
}

#bar .workspace.empty > label {
  color: #e6e1cf80;
}

#bar .workspace.urgent > label {
  color: #ff8f40;
}

#bar #battery {
  font-size: 12px;
}
